body {
    font-family: 'Roboto Slab', serif, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#0E6251;
}

.titre {
    display: flex;
    justify-content: center;
    margin: 0;
}

.card1 {
    display: flex;
    justify-content: center;
    margin: 1em;
    font-size: larger;
}

.photo {
    width: 80%;
    object-fit:cover; 
    border: solid 3px black;
    justify-content: center;
}

